<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="com.yoelglus.presentation.patterns"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MasterDetailsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- MVP Passive -->
        <activity
            android:name=".mvppassive.MvpPassiveItemListActivity"
            android:label="@string/title_items_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".mvppassive.MvpPassiveItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".mvppassive.MvpPassiveItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mvppassive.MvpPassiveItemListActivity"/>
        </activity>
        <activity
            android:name=".mvppassive.MvpPassiveAddItemActivity"
            android:label="Add Item"
            android:parentActivityName=".mvppassive.MvpPassiveItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mvppassive.MvpPassiveItemListActivity"/>
        </activity>

        <!-- MVP Passive Rx -->
        <activity
            android:name=".mvppassiverx.MvpPassiveRxItemListActivity"
            android:label="@string/title_items_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".mvppassiverx.MvpPassiveRxItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".mvppassiverx.MvpPassiveRxItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mvppassiverx.MvpPassiveRxItemListActivity"/>
        </activity>
        <activity
            android:name=".mvppassiverx.MvpPassiveRxAddItemActivity"
            android:label="Add Item"
            android:parentActivityName=".mvppassiverx.MvpPassiveRxItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mvppassiverx.MvpPassiveRxItemListActivity"/>
        </activity>

    </application>

</manifest>